@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
  height: 100%;
  width: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/jacob-wall-J35x4qL0mS0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; 
}

h1 {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
}

.header-text{
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
  z-index: 10;
  line-height: 0.8;
}

.line1 {
  color: #FAA307;
  font-size: 36px;
  position: absolute;
  top: 3%;
  left: 2%;
}

.line2 {
  color:#370617;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5%;
  left: 3.5%;
}

.search-bar-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  position: absolute;
  top: 5%;
  left: 35%;
  margin: 0 auto;
  width: auto;
}

.search-input {
  font-family: "Bellota Text", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #6A040F;
  padding: 7px;
  width: 350px;
  font-size: 16px;
  text-align: center;
  border: 3px solid #FAA307;
  border-radius: 20px;
  cursor: auto;
}

@media (max-width: 1400px) {
  .search-bar-container {
    flex-direction: column; 
    align-items: center;
    gap: 10px;
  }
}

.artwork-list {
  max-width: 1400px; 
  height: 800px;
  margin-top: 80px;
  padding: 35px; 
  overflow: hidden;
  border-radius: 20px;
}

.artwork-list-wrapper {
  display: flex;
  transition: transform 0.8s ease;
}

.artwork-list-wrapper:hover {
  transform: translateX(-20px); 
}

.artwork-card {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #EEF0F2;
  background-color: #03071e5d;
  text-align: center;
  margin: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2.5px solid #370617;
  border-radius: 10px;
  padding: 10px;
  max-width: 360px;
  min-height: 660px;
  flex: 0 0 auto;
  box-sizing: border-box;     
  transition: transform 0.5s ease-out, box-shadow 0.4s ease-out; 
}

.artwork-card:hover {
  transform: scale(1.09);
  box-shadow: 0 5px 15px rgba(59, 59, 59, 0.3) ;
  background-color: #03071e75;
}

.artwork-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  margin-bottom: 25px;
  border-radius: 8px;   
}

.artwork-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.artwork-card p {
  font-size: 15px;
  margin-bottom: 8px;
  margin: 5px;
}

.artwork-card a {
  color: #FAA307;
  font-size: 13px;
  transition: all 0.5s;
}

.artwork-card a:hover {
  font-size: 15px;
  transition: all 0.5s;
  color: #d67c07;
}

@media (max-width: 768px) {
  .artwork-card {
    flex: 0 1 100%; 
  }
}

.custom-arrow {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.custom-next {
  right: 10px;
}

.custom-prev {
  left: -50px;
}

.slick-dots li button {
  width: 14px; 
    height: 14px; 
    border-radius: 50%;;
    background-color: #370617;  
    transition: background-color 0.3s ease, transform 0.3s ease; 
    border: 1px solid ;
    outline: none;
}

.slick-dots li.slick-active button {
    background-color: #03071E;
    transform: scale(1.1);
}

.slick-dots {
  bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
  margin: 0 10spx;
}
